<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.elementTypeSetConfiguration">
      <elementTypeSet
            id="org.eclipse.papyrus.sysml14.service.types.elementTypeSet"
            path="model/SysML14.elementtypesconfigurations">
      </elementTypeSet>
   </extension>

</plugin>
