<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <menu
               icon="images/Papyrus_Req_logo_16x16.png"
               id="org.eclipse.papyrus.req.sysml.menu"
               label="%menu.label"
               tooltip="%menu.tooltip">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               icon="images/Papyrus_Req_logo_16x16.png"
               id="org.eclipse.papyrus.req.sysml.menu"
               label="%menu.label"
               tooltip="%menu.tooltip">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.req.sysml.menu">
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.PapyrusReqSysMLRequirementHandler"
               icon="images/Requirement.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.papyrus.req.sysml.assistant.packageElement.isUMLPackage"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.DecomposeReqHandler"
               icon="images/ContainmentConnection.gif"
               label="%command.label.4"
               style="push"
               tooltip="%command.tooltip.4">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.papyrus.req.sysml.assistant.requirement.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.InitDerivedReqHandler"
               icon="images/DeriveReqt.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.papyrus.req.sysml.assistant.requirement.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.AddDerivedLinkReqHandler"
               icon="images/DeriveReqt.gif"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.0">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.papyrus.req.sysml.assistant.requirement.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.AddSatisfiedLinkHandler"
               icon="images/Satisfy.gif"
               label="%command.label.5"
               style="push"
               tooltip="%command.tooltip.5">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.papyrus.req.sysml.assistant.requirement.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.AddVerifyLinkHandler"
               icon="images/Verify.gif"
               label="%command.label.6"
               style="push"
               tooltip="%command.tooltip.6">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.papyrus.req.sysml.assistant.requirement.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.CommentReqHandler"
               icon="images/Comment.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.req.sysml.assistant.requirement.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.ExtractCommentsHandler"
               icon="images/Link.gif"
               label="%command.label.3"
               style="push"
               tooltip="%command.tooltip.3">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.papyrus.req.sysml.assistant.requirement.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <menu
               icon="images/Profile.gif"
               id="org.eclipse.papyrus.req.sysml.defineReqLang.menu"
               label="%menu.label.0"
               tooltip="%menu.tooltip.0">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.req.sysml.defineReqLang.menu">
         <command
               commandId="org.eclipse.papyrus.uml.profile.drafter.updateprofile"
               label="%command.label.7"
               style="push"
               tooltip="%command.tooltip.7">
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.InitCreateInitialProfileFromDomainModelHandler"
               label="%command.label.8"
               style="push"
               tooltip="%command.tooltip.8">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.ExtractCommentsHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.ExtractCommentsHandler"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.InitDerivedReqHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.InitDerivedReqHandler"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.CommentReqHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.CommentReqHandler"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.PapyrusReqSysMLRequirementHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.PapyrusReqSysMLRequirementHandler"
            name="%command.name.2">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.AddDerivedLinkReqHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.AddDerivedLinkReqHandler"
            name="%command.name.3">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.DecomposeReqHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.DecomposeReqHandler"
            name="%command.name.4">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.AddSatisfyLinkHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.AddSatisfiedLinkHandler"
            name="%command.name.5">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.AddVerifyLinkHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.AddVerifyLinkHandler"
            name="%command.name.6">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.InitCreateInitialProfileFromDomainModelHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.InitCreateInitialProfileFromDomainModelHandler"
            name="%command.name.7">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.profile.drafter.ui.handler.UpdateProfileHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.InitDefineRequirementsLanguageHandler"
            name="%command.name.8">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.req.sysml.assistant.testers.RequirementTester"
            id="org.eclipse.papyrus.req.sysml.assistant.requirement"
            namespace="org.eclipse.papyrus.req.sysml.assistant.requirement"
            properties="isRequirementElement"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.req.sysml.assistant.testers.PackageTester"
            id="org.eclipse.papyrus.req.sysml.assistant.packageElement"
            namespace="org.eclipse.papyrus.req.sysml.assistant.packageElement"
            properties="isUMLPackage"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.req.sysml.assistant.testers.ProfileTester"
            id="org.eclipse.papyrus.req.sysml.assistant.profileElement"
            namespace="org.eclipse.papyrus.req.sysml.assistant.profileElement"
            properties="isUMLProfile"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
</plugin>

