<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <menu
               id="org.eclipse.papyrus.req.sysml.menu"
               label="%menu.label"
               tooltip="%menu.tooltip">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               id="org.eclipse.papyrus.req.sysml.menu"
               label="%menu.label.0"
               tooltip="%menu.tooltip.0">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.req.sysml.menu">
         <command
               commandId="org.eclipse.papyrus.req.sysml.traceabilityassistant.handler.ApplyTracabilityHandler"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.traceabilityassistant.handler.ApplyTracabilityHandler"
            id="org.eclipse.papyrus.req.sysml.traceabilityassistant.handler.ApplyTracabilityHandler"
            name="%command.name">
      </command>
   </extension>

</plugin>
