<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>






   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SetValuesAdviceConfiguration -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/emf/setvaluesadviceconfiguration/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.setvaluesadviceconfiguration.SetValuesAdviceConfigurationPackage"
            genModel="model/SetValuesAdviceConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated SetValuesAdviceConfiguration -->
      <parser
            type="setvaluesadviceconfiguration"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.setvaluesadviceconfiguration.util.SetValuesAdviceConfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated SetValuesAdviceConfiguration -->
      <factory
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/emf/setvaluesadviceconfiguration/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.setvaluesadviceconfiguration.provider.SetValuesAdviceConfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated SetValuesAdviceConfiguration -->
      <extender
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.setvaluesadviceconfiguration.provider.SetValuesAdviceConfigurationItemProviderAdapterFactory$ElementtypesconfigurationsChildCreationExtender"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated InvariantContainerRuleConfiguration -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/invarianttypeconfiguration/containerruleconfiguration/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.invariantcontainerruleconfiguration.InvariantContainerRuleConfigurationPackage"
            genModel="model/InvariantContainerRuleConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated InvariantContainerRuleConfiguration -->
      <parser
            type="invariantcontainerruleconfiguration"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.invariantcontainerruleconfiguration.util.InvariantContainerRuleConfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated InvariantContainerRuleConfiguration -->
      <factory
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/invarianttypeconfiguration/containerruleconfiguration/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.invariantcontainerruleconfiguration.provider.InvariantContainerRuleConfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated InvariantContainerRuleConfiguration -->
      <extender
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/invarianttype/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.invariantcontainerruleconfiguration.provider.InvariantContainerRuleConfigurationItemProviderAdapterFactory$InvariantTypeConfigurationChildCreationExtender"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RuntimeValuesEditionAdviceConfiguration -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/emf/runtimevalueseditionadviceconfiguration/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.runtimevalueseditionadviceconfiguration.RuntimevalueseditionadviceconfigurationPackage"
            genModel="model/RuntimeValuesEditionAdviceConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated RuntimeValuesEditionAdviceConfiguration -->
      <parser
            type="runtimevalueseditionadviceconfiguration"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.runtimevalueseditionadviceconfiguration.util.RuntimevalueseditionadviceconfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated RuntimeValuesEditionAdviceConfiguration -->
      <factory
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/emf/runtimevalueseditionadviceconfiguration/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.runtimevalueseditionadviceconfiguration.provider.RuntimevalueseditionadviceconfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated RuntimeValuesEditionAdviceConfiguration -->
      <extender
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.runtimevalueseditionadviceconfiguration.provider.RuntimevalueseditionadviceconfigurationItemProviderAdapterFactory$ElementtypesconfigurationsChildCreationExtender"/>
   </extension>
      <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.adviceConfigurationType">
      <adviceConfigurationType
            configurationClass="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.runtimevalueseditionadviceconfiguration.RuntimeValuesEditionAdviceConfiguration"
            factoryClass="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.runtimevalueseditionadviceconfiguration.RuntimeValuesEditionAdviceEditHelperAdviceFactory">
      </adviceConfigurationType>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.adviceConfigurationType">
      <adviceConfigurationType
            configurationClass="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.setvaluesadviceconfiguration.SetValuesAdviceConfiguration"
            factoryClass="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.setvaluesadviceconfiguration.SetValuesAdviceEditHelperAdviceFactory">
      </adviceConfigurationType>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypes.invariantRule">
      <invariantRule
            configurationClass="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.invariantcontainerruleconfiguration.InvariantContainerRuleConfiguration"
            invariantRuleClass="org.eclipse.papyrus.infra.elementtypesconfigurations.emf.invariantcontainerconfiguration.InvariantContainerRule">
      </invariantRule>
   </extension>
</plugin>
