<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="invariantRule" name="Invariant Rule Extension Point" schema="schema/invariantRule.exsd"/>








   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated InvariantTypeConfiguration -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/invarianttype/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypeconfiguration.InvariantTypeConfigurationPackage"
            genModel="model/InvariantTypeConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated InvariantTypeConfiguration -->
      <parser
            type="invarianttypeconfiguration"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypeconfiguration.util.InvariantTypeConfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated InvariantTypeConfiguration -->
      <factory
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/invarianttype/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypeconfiguration.provider.InvariantTypeConfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated InvariantTypeConfiguration -->
      <extender
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypeconfiguration.provider.InvariantTypeConfigurationItemProviderAdapterFactory$ElementtypesconfigurationsChildCreationExtender"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.elementTypeConfigurationType">
      <elementTypeConfigurationType
            configurationClass="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypeconfiguration.InvariantTypeConfiguration"
            factoryClass="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypes.invarianttypeconfiguration.InvariantElementTypeFactory">
      </elementTypeConfigurationType>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.elementTypeSetConfiguration">
      <elementTypeSet
            id="org.eclipse.papyrus.infra.elementtypesconfigurations.invarianttypes.elementTypeSet"
            path="model/invarianttype.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
</plugin>
