<?xml version="1.0" encoding="UTF-8" standalone="no"?><?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="UML-RT-Protocol-PE"
            class="org.eclipse.papyrus.uml.diagram.common.service.ExtendedPluginPaletteProvider"
            icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
            name="UML-RT-ProtocolDiagramPaletteExtension"
            path="palettes/UML-RT.ProtocolDiagram.paletteconfiguration">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <configuration
            file="configuration/UMLRT.configuration"
            priority="100">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="newchildmenu/newChildMenu.xmi">
      </menuCreationModel>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="UML-RT-Capsule-PE"
            class="org.eclipse.papyrus.uml.diagram.common.service.ExtendedPluginPaletteProvider"
            icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
            name="UML-RT-CapsuleDiagramPaletteExtension"
            path="palettes/UML-RT.CapsuleDiagram.paletteconfiguration">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="facet/Protocol.custom">
      </modeldeclaration>
   </extension>
   <extension
         point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="facet/SimpleUMLRT.custom">
      </modeldeclaration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.umlrt.ui.provider.UMLRTFilteredLabelProvider">
      </labelProvider>
   </extension>
   <extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="org.eclipse.papyrus.umlrt.ui.provider.PropertyTester"
         id="org.eclipse.papyrus.umlrt.ui.modelexplorer.tester"
         namespace="org.eclipse.papyrus.views.modelexplorer.tester"
         properties="isRTPRotocol"
         type="org.eclipse.jface.viewers.IStructuredSelection">
   </propertyTester>
</extension>
   <extension
         point="org.eclipse.ui.handlers">
       <handler
         class="org.eclipse.papyrus.umlrt.ui.handlers.RTProtocolCopyHandler"
         commandId="org.eclipse.ui.edit.copy">
      <activeWhen>
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView">
               </instanceof>
            </with>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.umlrt.ui.modelexplorer.tester.isRTPRotocol"
                     value="true">
               </test>
            </with>
         </and>
      </activeWhen>
   </handler>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.sync.triggers">
      <syncTrigger
            class="org.eclipse.papyrus.umlrt.ui.internal.sync.statemachine.CapsuleStatemachineDiagramSyncTrigger">
         <enablement>
            <and>
               <!-- Match an edit-part for a Statemachine of a Capsule -->
               <instanceof
                     value="org.eclipse.gef.EditPart">
               </instanceof>
               <adapt
                     type="org.eclipse.uml2.uml.StateMachine">
                  <test
                        property="org.eclipse.papyrus.umlrt.context"
                        value="UMLRealTime::Capsule">
                  </test>
               </adapt>
            </and>
         </enablement>
      </syncTrigger>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.pasteStrategy">
      <strategy
            strategy="org.eclipse.papyrus.umlrt.ui.copy.UmlRTPasteStrategy">
      </strategy>
   </extension>
</plugin>
