<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin> 
   
   
         <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.elementTypeSetConfiguration">
      <elementTypeSet
            id="org.eclipse.papyrus.sysml14.service.types.elementTypeSet.composite"
            path="resources/SysML14CompositeStructureDiagram.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   
         <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.elementTypeSetConfiguration">
      <elementTypeSet
            id="org.eclipse.papyrus.sysml14.service.types.elementTypeSet.class"
            path="resources/SysML14UMLClassDiagram.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   
</plugin>
