<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <diagramCategory
            class="org.eclipse.papyrus.soaml.diagram.common.commands.CreateSoamlModelCommand"
            description="SoaML diagrams"
            icon="icons/SoaML_Header_32x32.png"
            id="soaML"
            label="SoaML">
      </diagramCategory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.papyrus.soaml.diagram.common.IsPapyrusActiveWithSoaml">
         <and>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.SoamlSelectionTester.isSoamlModel"
                     value="true">
               </test>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.soaml.diagram.common.utils.SoamlSelectionTester"
            id="org.eclipse.papyrus.SoamlSelectionTester"
            namespace="org.eclipse.papyrus.SoamlSelectionTester"
            properties="isSoamlModel"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <contribution
            file="viewpoints/soaml.configuration"
            original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.eclipse.papyrus.soaml.diagram.common.editpolicy.provider.SoaMLDiagramsEditPolicyProvider">
         <Priority
               name="Low">
         </Priority>
      </editpolicyProvider>
   </extension>

</plugin>
