<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <diagramCategory
            class="org.eclipse.papyrus.bpmn.diagram.common.commands.CreateBpmnModelCommand"
            description="Papyrus BPMN diagrams"
            icon="platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/icons/bpmn_32x32.png"
            id="BPMN"
            label="BPMN">
      </diagramCategory>
   </extension>

  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="org.eclipse.papyrus.bpmn.diagram.common.editpolicy.BpmnProcessEditPolicyProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpolicyProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="org.eclipse.papyrus.bpmn.diagram.common.providers.CustomBpmnUMLEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
     
 <!--
    <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="BPMNPalette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
            name="BPMNPalette"
            path="diagrams/process/process.palette.xml"
            provider="CEA LIST">
         <Priority
               name="Medium">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity">
         </editor>
      </paletteDefinition>
	</extension>
 <extension
      point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
   <editpartProvider
         class="org.eclipse.papyrus.bpmn.diagram.common.providers.CustomUMLEditPartProvider">
      <Priority
            name="Highest">
      </Priority>
      <object
            class="org.eclipse.gmf.runtime.notation.Diagram"
            id="generated-diagram">
         <method
               name="getType()"
               value="PapyrusUMLActivityDiagram">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Node"
            id="generated-nodes">
         <method
               name="getType()">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Edge"
            id="generated-links">
         <method
               name="getType()">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Node"
            id="generated-labels">
         <method
               name="getType()">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Node"
            id="generated-compartments">
         <method
               name="getType()">
         </method>
      </object>
      <context
            views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments">
      </context>
   </editpartProvider>
</extension>
   -->
 </plugin>
