
Collaboration, CollaborationUse {
                isOval: true;
                borderStyle: custom;
                dashStyle: 10 10;
}
Dependency > Label:name{
	visible:true;
}
Association > Label:targetMultiplicity {
	visible:false;
}
Port > Label {
	maskLabel: name;
}
Property {
	maskLabel: name type multiplicity;
}
