<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.domainModel2Profile.handler.CreateProfileFromDomainModelHandler"
            id="org.eclipse.papyrus.req.domainModel2Profile.handler.CreateProfileFromDomainModelHandler"
            name="%command.name">
      </command>
   </extension>

</plugin>
