<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <transformation
            Transformation="org.eclipse.papyrus.uml.templaterepository.ImportUMLPrimitiveTypesInModel"
         	id="org.eclipse.papyrus.uml.templaterepository.ImportUMLPrimitiveTypesInModel"
            language="uml"
            name="A UML model with basic primitive types">
      </transformation>

      <transformation
            Transformation="org.eclipse.papyrus.uml.templaterepository.ImportUMLPrimitiveTypesInProfile"
            id="org.eclipse.papyrus.uml.templaterepository.ImportUMLPrimitiveTypesInProfile"
            language="profile"
            name="A UML profile with basic primitive types">
      </transformation>   
   </extension>

</plugin>
