<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.qompass.designer.core.ooTransformation">
      <client
            class="org.eclipse.papyrus.qompass.designer.cpp.xtend.StaticCppToOO"
            ooTrafoID="org.eclipse.papyrus.qompass.designer.cpp.StaticCpp">
      </client>
   </extension>
   <extension
         point="org.eclipse.papyrus.qompass.designer.core.ooTransformation">
      <client
            class="org.eclipse.papyrus.qompass.designer.cpp.xtend.DynamicCppToOO"
            ooTrafoID="org.eclipse.papyrus.qompass.designer.cpp.DynamicCpp">
      </client>
   </extension>
</plugin>
