<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.compare.ui.actions.CompareInEditor"
            commandId="org.eclipse.papyrus.uml.compare.ui.compareInEditor">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <or>
                     <count
                           value="2">
                     </count>
                     <count
                           value="3">
                     </count>
                  </or>
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                     </adapt>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.infra.emf.readonly.EnableWriteCommand">
         <separator
               name="org.eclipse.papyrus.uml.compare.ui.compareGroup"
               visible="true">
         </separator>
         <menu
               icon="icons/papyrus_compare_16x16.png"
               id="org.eclipse.papyrus.uml.compare.ui.compareWithMenu"
               label="Compare With">
            <command
                  commandId="org.eclipse.papyrus.uml.compare.ui.compareInEditor"
                  id="org.eclipse.papyrus.uml.compare.ui.compareInEditor"
                  label="Each Other"
                  style="push"
                  tooltip="Papyrus UML Compare">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.papyrus.uml.compare.ui.compareInEditor"
            name="Compare in Editor">
      </command>
   </extension>
   <!-- <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Open the Papyrus Model Compare Editor"
            id="org.eclipse.papyrus.uml.compare.ui.command"
            name="Papyrus Model Compare Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.compare.ui.handler.CompareUMLFileHandler"
            commandId="org.eclipse.papyrus.uml.compare.ui.command">
      </handler>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
    allPopups="true"
    locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	<command
	       commandId="org.eclipse.papyrus.uml.compare.ui.command"
	       style="push">
	    <visibleWhen
	          checkEnabled="false">
	       <with
	             variable="selection">
	          <iterate
	                ifEmpty="false"
	                operator="and">
	             <adapt
	                   type="org.eclipse.core.resources.IFile">
	             </adapt>
	          </iterate>
	       </with>
	    </visibleWhen>
	</command>
</menuContribution>
   </extension> -->
   <extension
         point="org.eclipse.emf.compare.edit.adapterFactory">
      <factory
            class="org.eclipse.papyrus.uml.compare.ui.provider.PapyrusCompareAdapterFactory"
            ranking="11"
            supportedTypes="org.eclipse.emf.edit.provider.IItemLabelProvider"
            uri="http://www.eclipse.org/uml2/5.0.0/UML">
      </factory>
   </extension>

</plugin>
