Collaboration [appliedStereotypes~="servicesArchitecture"] {
	svgFile: 'platform:/plugin/org.eclipse.papyrus.soaml.profile/icons/si16x16.svg';
	shapeVisibility: true;
	elementIcon: false;
}
Collaboration [appliedStereotypes~="serviceContract"] {
	svgFile: 'platform:/plugin/org.eclipse.papyrus.soaml.profile/icons/sc16x16.svg';
	shapeVisibility: true;
	elementIcon: false;
}
  